<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<!-- Log file folder -->
	<property name="LOG_HOME" value="" />   

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>
    
    <!-- sends logs to logback-beagle -->
  	<!-- <consolePlugin /> -->
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level |User:%X{username} | (%file:%line\) - %msg%n</pattern>
            <!-- More details and mask password information.
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level |User:%X{username} |RequestURI: %X{req.requestURI} | %logger - %replace(%msg){"password=.*","password=******"}%n</pattern>
            -->
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<Encoding>UTF-8</Encoding>
    	<file>${LOG_HOME}/petclinic.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    		<FileNamePattern>${LOG_HOME}/solid.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
    		<MaxHistory>30</MaxHistory>
    	</rollingPolicy>
    	<encoder>
    		<pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level |User:%X{username}| %logger - %msg%n</pattern>
		</encoder>
    </appender>
    
    <appender name="ALERT" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<Encoding>UTF-8</Encoding>
    	<!-- Output ERROR and WARN logs. -->
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter"> 
     		<level>WARN</level>
		</filter>
		<file>${LOG_HOME}/petclinic.alert.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
    		<FileNamePattern>${LOG_HOME}/solid.alert.%i.log</FileNamePattern>
    		<minIndex>1</minIndex>
    		<maxIndex>9</maxIndex>
    	</rollingPolicy>
    	<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      		<maxFileSize>10MB</maxFileSize>
    	</triggeringPolicy>
    	<encoder>
    		<pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level |User:%X{username}| %logger - %msg%n</pattern>
		</encoder>
    </appender>

	<logger name="org.hibernate" level="debug"/>
	<logger name="org.springframework" level="info" />
    
    <root level="info">
        <appender-ref ref="STDOUT" />
    	<appender-ref ref="FILE" />
       	<appender-ref ref="ALERT" />
    </root>
</configuration>
